﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="UpdatePrescription.aspx.cs" Inherits="Hospital_Management.Pages.UpdatePrescription" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">


    

</asp:Content>
